body {
    margin: 0;
    background-color: rgb(37, 37, 37);
    /* overflow-x: hidden; */
}

.firstcontainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65%;
    align-items: center;
    max-height: fit-content;

}

.news1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    align-items: self-start;
}

.mainnews {
    flex: 80%;
    background-color: rgb(17, 17, 17);
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    grid-auto-rows: 300px;

}

.mainnews>* {
    box-shadow: 0 0 0 0.5px white;
    z-index: 1;

}

.article1,
.article3,
.article4,
.article5,
.article6,
.article7 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.article2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-column: span 2;
    position: relative;
}

.imageholder {
    flex: 1;
    width: 100%;
    /* height: 100%; */
    /* max-height: 300px; */
    overflow: hidden;
}

.imageholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article2 .imageholder {
    flex: 2;
}

.article2 img {
    width: 100%;
    object-fit: cover;/
}

.articletext1 {
    flex: 1;
    font-size: large;
    text-transform: capitalize;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.articletext1 p,
h2 {
    margin-top: 2px;
    flex: 1;
}

.sati {
    flex: 1;
}

#article2 {
    text-align: left;
}

.disnews {
    flex: 20%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    background-color: rgb(17, 17, 17);
    color: white;
    padding: 7px;
    max-height: 589px;
}

.randommeni {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: rgb(17, 17, 17);

}

.randommeni span {
    display: inline-block;
}

.hashheader {
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: wheat;
}

.hashheader span {
    margin-left: 21px;
    display: inline-block;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    background-color: rgb(17, 17, 17);
    color: white;
    margin-bottom: 15px;
    margin-right: 0;

}

.headerholder {
    display: flex;
    width: 63%;
    justify-content: center;
}

.logo {
    width: 80px;
    height: auto;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
    margin-right: auto;
}

.menu-container a {
    color: white;
    text-decoration: none;
    margin-left: 6px;
}

.socialmediaicons {
    display: flex;
    align-items: center;
}

.hamburger {
    display: flex;
    align-items: center;
}

.secondcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    margin-top: 50px;
    gap: 5px;
}

.article11,
.article22,
.article33,
.article44,
.article55,
.article66 {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 7px;
}



@media screen and (max-width: 1200px) {

    .headerholder {
        width: 70%;
    }


    .secondcontainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 100%;
        margin-top: 50px;
        gap: 5px;
    }

    .article11,
    .article22,
    .article33,
    .article44,
    .article55,
    .article66 {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 7px;
    }

    .article33,
    .article55,
    .article66 {
        grid-row: 2;
    }

    .article44,
    .article22,
    .article11 {
        grid-row: 1;
    }

    #imageholder55 {
        display: none;
    }

    .article55 h2 {
        flex: 0;
    }

    #sati55 {
        flex: 1;
    }

    @media screen and (max-width: 915px) {

        body {
            background-color: rgb(17, 17, 17);
        }

        .disnews {
            display: none;
        }

        .firstcontainer {
            width: 100%;
        }

        .hashheader {
            white-space: nowrap;
            font-size: calc(10px + 1vw);
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .mainnews {
            grid-template-columns: 1fr;
        }

        .article2 {
            grid-column: 1 / span 1;
            grid-row: 1;

        }

        .article1,
        .article3,
        .article4,
        .article5,
        .article6,
        .article7 {
            grid-column: 1;
            grid-row: auto;
            flex-direction: row;
            padding: 5px;
        }

        .article1 p,
        h2 {
            padding: 7px;
            margin-left: 9px
        }

        .article3 p,
        h2 {
            padding: 7px;
            margin-left: 9px
        }

        .article4 p,
        h2 {
            padding: 7px;
            margin-left: 9px
        }

        .article5 p,
        h2 {
            padding: 7px;
            margin-left: 9px
        }

        .article6 p,
        h2 {
            padding: 7px;
            margin-left: 9px
        }

        .article7 p,
        h2 {
            padding: 7px;
            margin-left: 9px
        }

        .imageholder {
            flex: 1;
        }

        .articletext1 {
            flex: 3;
        }

        .sati {
            display: flex;
            align-items: self-end;
            padding: 7px;
        }


        .secondcontainer {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
        }

    .article22,
        .article44 {
            display: flex;
            flex-direction: row;
            color: white;
            padding: 7px;
        }

        .article33,
        .article66 {
            display: flex;
            flex-direction: column;
            order: 6;
        }

        .headerholder {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .menu-container {
            display: none;
        }

        .hamburger {
            order: -1;
        }

        .socialmediaicons {
            margin-right: 18px;
        }

    }
}