body {
    margin: 0;
}


.header {
    background-color: yellowgreen;
    height: 40px;
    margin-bottom: 20px;
}


.firstcontainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

.news1 {
display: flex;
flex-direction: row;
width: 100%;
height: 800px;
margin: auto;
}

.mainnews {
    flex: 80%;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define your grid columns */
    /* grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
     */
}

.article1 , .article3, .article4, .article5, .article6, .article7 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* border: 1px solid black; */
}

.article2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageholder {
    flex: 1;
}

.articletext1 {
    flex: 1;
    font-size: large;
    text-transform: capitalize;
}


.imageholder img {
    width: 100%;
    height: 100%;
    object-fit: fill; 
}

.article2 {
    /* grid-area: 1 / 2 / 2 / 3; */
    grid-column: span 2;
}



.disnews {
    flex: 20%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.randommeni {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.randommeni span {
    display: inline-block; 
}

.hashheader {
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: wheat;
}

.hashheader span {
    margin-left: 21px;
    display: inline-block; 
}
