body {
    margin: 0;
    background-color: rgb(37, 37, 37);
}


/* .header {
    background-color: yellowgreen;
    height: 40px;
    margin-bottom: 20px;
} */


.firstcontainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    align-items: center; /* Center items horizontally */

}

.news1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 800px;
    margin: auto;
}

.mainnews {
    flex: 80%;
    background-color: rgb(17, 17, 17);
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

/* Add thin borders to all grid items */
.mainnews > * {
    box-shadow: 0 0 0 0.5px white; /* Adjust color as needed */
    z-index: 1; /* Set a z-index for the borders */

}

/* Optionally, remove borders from the last row and last column */



.article1,
.article3,
.article4,
.article5,
.article6,
.article7 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.article2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.imageholder {
    flex: 1;
}

.articletext1 {
    flex: 1;
    font-size: large;
    text-transform: capitalize;
}


.imageholder img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.article2 {
    /* grid-area: 1 / 2 / 2 / 3; */
    grid-column: span 2;
}



.disnews {
    flex: 20%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    background-color: rgb(17, 17, 17);
    color: white;
    padding: 7px;
}

.randommeni {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: rgb(17, 17, 17);

}

.randommeni span {
    display: inline-block;
}

.hashheader {
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: wheat;
}

.hashheader span {
    margin-left: 21px;
    display: inline-block;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: rgb(17, 17, 17);
    color: white;
    margin-bottom: 15px;
}

.headerholder {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: 80px;
    height: auto;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    margin-right: auto;
}

.menu-container a {
    color: white;
    text-decoration: none;
}

.socialmediaicons {
    display: flex;
    align-items: center;
}




.secondcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Each column takes up 1 fraction of the available space */
    grid-template-rows: repeat(2, 1fr); /* Each row takes up 1 fraction of the available space */
    width: 100%;
    height: 100%;
    height: 500px;
    margin-top: 10px;
}